/** 
 * Generic
 */

::selection {
  background: rgba($color-accent, 0.4);
}

body {
  background: $back-container-background;
  padding: 0;
  margin: 0;
  font-family: $default-font-list;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: $color-text;
}

* {
  color: $deep-dark-accent;
  //line-height: 1.7em;
  word-wrap: break-word;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: $h1-size;
  margin: 20px auto;
}

h2 {
  font-size: $h1-size - 2 * $h-diff;
  margin: 20px auto;
}

h3 {
  font-size: $h1-size - 3 * $h-diff;
  margin: 20px auto;
}

h4 {
  font-size: $h1-size - 3 * $h-diff;
  margin: 20px auto;
}

h5 {
  font-size: $h1-size - 3 * $h-diff - 1;
  margin: 10px auto;
}

h6 {
  font-size: $h1-size - 3 * $h-diff - 2;
  margin: 10px auto;
}

textarea,
select,
input,
button {
  outline: none !important;
}

table {
  table-layout: fixed;
  overflow-x: scroll;
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 1rem;
  color: #212529;
}

button {
  cursor: hand;
  cursor: pointer;
}

blockquote {
  padding: 10px 20px;
  border-left: 3px solid rgba($color-accent, 0.7);
  color: $dark-accent;
  background: rgba($color-accent, 0.05);
  p {
    margin-bottom: 0;
  }
  * {
    color: $dark-accent;
  }
}

a {
  color: $color-accent;
  &:hover {
    color: darken($color-accent, 10%);
    text-underline-position: under;
  }
}

li {
  p {
    margin-bottom: 0;
  }
}

code,
kbd {
  color: black;
  background: rgba($color-accent, 0.07) !important;
  padding: 2px 5px;
  border-radius: 3px;
}

pre {
  color: black;
  background: rgba($color-accent, 0.07);
  padding: 12px 15px;
  border-radius: 5px;
  * {
    background: none !important;
  }
  code {
    padding: 0;
  }
}
