@import "../../scss/variables";

.postlist {
  > * {
    &:not(:last-child) {
      .item {
        border-bottom: 1px solid rgba(128, 128, 128, 0.12);
      }
    }
  }
  &__item_wrapper {
    &:hover {
      background: rgba(0, 0, 0, 0.03);
      * {
        color: $dark-accent;
        text-decoration: none;
      }
      .item__info__title {
        text-decoration: underline;
        text-decoration-style: 2px solid $color-accent;
        text-underline-position: under;
      }
    }
  }

  * {
    transition: all 0.2s linear;
  }
}

.item {
  margin: 0 35px;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  &__info {
    flex-grow: 1;

    &__title {
      font-size: $post-title-size;
      font-weight: 600;
      font-style: normal;
      margin-bottom: 10px;
      margin-top: 0;
      line-height: 1.5em;
    }

    &__description {
      font-size: $post-description-size;
      line-height: 1.5em;
      margin-bottom: 10px;
    }

    &__date {
      font-size: $post-date-size;
    }
  }

  &__info_compact {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__title {
      font-size: $post-title-size;
      font-weight: 600;
      font-style: normal;
      margin: 0;
    }
    &__date {
      flex-shrink: 0;
      font-size: $post-date-size;
    }
  }

  &__image {
    flex-shrink: 0;
    margin-left: 20px;
    width: 230px;
    height: 120px;
    background: no-repeat center;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
  }
}
