@import "../../../scss/variables";

.sitemeta {
  padding: 30px 28px 30px 20px;
  margin-bottom: 10px;
  transition: all 0.2s linear;
  color: $deep-dark-accent;
  border-right: 2px solid transparent;
  // a-block
  display: block;
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }

  &__title {
    font-size: $nav-title-size;
    line-height: $nav-title-size * 1.4;
    @media screen and (max-width: $max-single-column-width) {
      font-size: $single-column-nav-title-size;
    }
  }

  &__description {
    margin-top: 8px;
    font-size: $nav-subtitle-size;
    @media screen and (max-width: $max-single-column-width) {
      font-size: $single-column-nav-subtitle-size;
    }
  }

  &:hover {
    border-right: 2px solid rgba($color-accent, $nav-item-hover-indicator-alpha);
    background: rgba($color-accent, $nav-item-hover-background-alpha);
    color: darken($color-accent, $nav-item-hover-color-darken);
  }
  &_active {
    border-right: 2px solid $color-accent;
    background: rgba($color-accent, $nav-item-active-background-alpha);
    color: darken($color-accent, $nav-item-active-color-darken);
  }
}
