@import "../../scss/variables";

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  width: $side-container-width;
  text-align: right;
  padding: 20px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: $ui-font-list;
}
