/** 
 * Variables
 */

// Color
$color-accent: #1d98a7;
$back-container-background: #fcfcfc;
$front-container-background: #ffffff;

$dark-accent: darken($color-accent, 10%);
$deep-dark-accent: darken($color-accent, 50%);
$color-text: $deep-dark-accent;

@if lightness($color-accent) <20% {
  $dark-accent: $color-accent;
  $deep-dark-accent: $color-accent;
  $color-text: $deep-dark-accent;
}

// Font
$default-font-list: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
  "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei";

$h1-size: 30px;
$h-diff: 3px;

// Layout
$layout-width: 1500px;
