@import "../../../scss/variables";

.menu {
  flex-grow: 1;

  &__item {
    display: block;
    font-size: $nav-link-size;
    margin-bottom: 10px;
    border-right: 2px solid transparent;
    padding: 8px 28px 8px 30px;
    transition: all 0.2s linear;
    color: $deep-dark-accent;
    text-decoration: none !important;
    &:hover {
      text-decoration: none !important;
      border-right: 2px solid
        rgba($color-accent, $nav-item-hover-indicator-alpha);
      background: rgba($color-accent, $nav-item-hover-background-alpha);
      color: darken($color-accent, $nav-item-hover-color-darken);
    }
    &_active {
      border-right: 2px solid $color-accent;
      background: rgba($color-accent, $nav-item-active-background-alpha);
      color: darken($color-accent, $nav-item-active-color-darken);
    }
    @media screen and (max-width: $max-single-column-width) {
      font-size: $single-column-nav-link-size;
    }
  }
}
